@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    /* Белый - фон */
    --foreground: 0 0% 0%;
    /* Чёрный - текст */
    --primary: 222 100% 64%;
    /* Синий - основной цвет */
    --primary-foreground: 0 0% 100%;
    /* Белый - текст на основном цвете */
    --secondary: 228 33% 97%;
    /* Светло-серый - второй цвет */
    --secondary-foreground: 0 0% 0%;
    /* Чёрный - цвет на втором цвете */

    --accent: 222 100% 68%;
    /* Синий - активный фон */
    --accent-foreground: 0 0% 100%;
    /* Чёрный - активный текст */

    --muted: 0 0% 84%;
    /* Светло-серый с синим оттенком - неактивный фон */
    --muted-foreground: 0 0% 0%;
    /* Чёрный - неактивный текст */

    --destructive: 0 91% 52%;
    /* Красный - ошибка */
    --destructive-foreground: 0 0% 100%;
    /* Чёрный - текст ошибки */

    --border: 0 0% 85%;
    /* Серый - граница */
    --input: 218 40% 96%;
    /* Серый с синим оттенком - фон */
    --ring: 222 100% 64%;
    /* Синий - обводка */

    --card: 0 0% 100%;
    /* Белый - фон карточки */
    --card-foreground: 0 0% 0%;
    /* Чёрный - цвет текста карточки */

    --popover: 0 0% 100%;
    /* Белый */
    --popover-foreground: 0 0% 0%;
    /* Чёрный */

    --sidebar-background: 0 0% 100%;
    /* Белый */
    --sidebar-foreground: 0 0% 0%;
    /* Чёрный */
    --sidebar-primary: 0 0% 0%;
    /* Чёрный */
    --sidebar-primary-foreground: 0 0% 100%;
    /* Белый */
    --sidebar-accent: 222 100% 64%;
    /* Синий */
    --sidebar-accent-foreground: 0 0% 100%;
    /* Белый */
    --sidebar-border: 0 0% 0%;
    /* Чёрный */
    --sidebar-ring: 222 100% 64%;
    /* Синий */

    --radius: 0.5rem;
    /* Скругление */

    --chart-0: 201 96% 32%;
    --chart-1: 226 57% 21%;
    --chart-2: 199 89% 48%;
    --chart-3: 224 64% 33%;
    --chart-4: 200.4 98% 39%;
    --chart-5: 226 71% 40%;
  }

  .dark {
    --background: 222 47% 11%;
    /* Тёмно-синий - фон */
    --foreground: 0 0% 100%;
    /* Синий - текст */
    --primary: 222 100% 64%;
    /* Синий - основной цвет */
    --primary-foreground: 0 0% 100%;
    /* Белый - текст на основном цвете */
    --secondary: 228 33% 3%;
    /* Тёмно-серый - второй цвет */
    --secondary-foreground: 0 0% 100%;
    /* Белый - цвет на втором цвете */

    --accent: 222 100% 68%;
    /* Синий - активный фон */
    --accent-foreground: 0 0% 100%;
    /* Белый - активный текст */

    --muted: 226 71% 30%;
    /* Серый - неактивный фон */
    --muted-foreground: 0 0% 100%;
    /* Серый - неактивный текст */

    --destructive: 0 91% 52%;
    /* Красный - ошибка */
    --destructive-foreground: 0 0% 100%;
    /* Белый - текст ошибки */

    --border: 222 47% 20%;
    /* Тёмно-синий - граница */
    --input: 218 40% 4%;
    /* Тёмно-серый с синим оттенком - фон */
    --ring: 222 100% 64%;
    /* Синий - обводка */

    --card: 222 47% 11%;
    /* Тёмно-синий - фон карточки */
    --card-foreground: 0 0% 100%;
    /* Белый - цвет текста карточки */

    --popover: 222 47% 11%;
    /* Тёмно-синий */
    --popover-foreground: 0 0% 100%;
    /* Белый */

    --sidebar-background: 222 47% 11%;
    /* Тёмно-синий */
    --sidebar-foreground: 0 0% 100%;
    /* Белый */
    --sidebar-primary: 0 0% 100%;
    /* Белый */
    --sidebar-primary-foreground: 222 47% 11%;
    /* Тёмно-синий */
    --sidebar-accent: 222 100% 64%;
    /* Синий */
    --sidebar-accent-foreground: 0 0% 100%;
    /* Белый */
    --sidebar-border: 222 47% 20%;
    /* Тёмно-синий */
    --sidebar-ring: 222 100% 64%;
    /* Синий */

    --chart-0: 201 96% 32%;
    --chart-1: 226 57% 21%;
    --chart-2: 199 89% 48%;
    --chart-3: 224 64% 33%;
    --chart-4: 200.4 98% 39%;
    --chart-5: 226 71% 40%;
  }

  html {
    font-family: 'Nunito Sans', sans-serif;
  }

  body {
    @apply bg-background text-foreground font-['Nunito_Sans'];
  }
}

@layer base {
  * {
    @apply border-border;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}